<template>
  <details>
    <summary>Defaults</summary>
    <table>
      <tbody>
        <tr>
          <th>Calls expected:</th>
          <td><input type="number" pattern="[0-9]*" v-model.number="lCallsPerHour"> /hr</td>
        </tr>
        <tr>
          <th>Average call duration:</th>
          <td><input type="number" pattern="[0-9]*" v-model.number="lCallDuration"> min(s)</td>
        </tr>
        <tr>
          <th>Agents:</th>
          <td><input type="number" pattern="[0-9]*" v-model.number="lAgentCount"></td>
        </tr>
        <tr>
          <th>Target answer time:</th>
          <td><input type="number" pattern="[0-9]*" v-model.number="lTargetAnswerTime"> sec(s)</td>
        </tr>
        <tr>
          <th>Desired service level:</th>
          <td><input type="number" pattern="[0-9]*" maxlength="2" v-model.number="lDesiredServiceLevel"> %</td>
        </tr>
      </tbody>
    </table>
  </details>
</template>

<script>
import store from '../store'

export default {
  name: 'defaults',
  data: function () {
    return {
      lCallsPerHour: '',
      lCallDuration: '',
      lAgentCount: '',
      lTargetAnswerTime: '',
      lDesiredServiceLevel: '',
      sharedState: store.state
    }
  },
  watch: {
    lCallsPerHour: function (val) {
      this.sharedState.dCallsPerHour = this.lCallsPerHour
    },
    lCallDuration: function (val) {
      this.sharedState.dCallDuration = this.lCallDuration
    },
    lAgentCount: function (val) {
      this.sharedState.dAgentCount = this.lAgentCount
    },
    lTargetAnswerTime: function (val) {
      this.sharedState.dTargetAnswerTime = this.lTargetAnswerTime
    },
    lDesiredServiceLevel: function (val) {
      val > 99 ? this.lDesiredServiceLevel = 99 : this.sharedState.dDesiredServiceLevel = this.lDesiredServiceLevel
    }
  },
  created: function () {
    this.lTargetAnswerTime = 0
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  details {
    font-weight: bold;
    float: left;
    min-width: 100%;
    border-bottom: 1px solid #d0d0d0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f2f2f2;
    display: block;
    top: -10px;
    position: relative;
  }
  summary {
    float: left;
    outline: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
  } 
  table {
    float: left;
    max-width: 350px;
    text-align: left;
    padding-left: 10px;
    margin-top: -7px;
    padding-top: 10px;
  }
  input {
    outline: none;
    padding-left: 10px;
    width: 40px;
    margin: 0;
    text-align: center;
    line-height: normal;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    height: 2rem;
    font-size: 1rem;
    padding: 0;
    box-shadow: none;
    transition: all 0.3s;
    min-width: 45px;
  }

  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }  

  input:disabled {
    color: rgba(0, 0, 0, 0.26);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.26);
  }

  input:focus {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
  }

  table > tbody > tr {
    transition: background-color .25s ease;
  }

  table > tbody > tr:hover {
    background-color: #f2f2f2;
  }

  td {
    padding-left: 15px;
  }
</style>
