<template>
  <footer>
    <center>
      <a href="https://gitlab.com/igorlp/vue-erlangc">Built with ♥ by Igor</a>
    </center>
  </footer>
</template>

<script>
export default {
  name: 'vuefooter'
}
</script>

<style>
  footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px 0px;
  }
</style>