<template>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Hour</th>
          <th>Calls expected</th>
          <th>Average call duration</th>
          <th>Agents</th>
          <th v-if="this.sharedState.dDesiredServiceLevel != ''">Suggested Agents</th>
          <th>Agent occupancy</th>
          <th>Probability of waiting</th>
          <th>Average speed of answer</th>
          <th>Target answer time</th>
          <th>Service level</th>
        </tr>
      </thead>
      <tbody>
        <vuetd time="10AM-11AM"></vuetd>
        <vuetd time="11AM-12PM"></vuetd>
        <vuetd time="12PM-01PM"></vuetd>
        <vuetd time="01PM-02PM"></vuetd>
        <vuetd time="02PM-03PM"></vuetd>
        <vuetd time="03PM-04PM"></vuetd>
        <vuetd time="04PM-05PM"></vuetd>
        <vuetd time="05PM-06PM"></vuetd>
        <vuetd time="06PM-07PM"></vuetd>
        <vuetd time="07PM-08PM"></vuetd>
      </tbody>
    </table>
  </div>
</template>

<script>
import vuetd from './td'
import store from '../store'

export default {
  name: 'vuetable',
  components: {
    vuetd
  },
  data: function () {
    return {
      sharedState: store.state
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  table {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    width: 100%;
    display: table;
  }

  .table {
    width: 100%;
    overflow: scroll;
    position: relative;
  }

  thead {
    border-bottom: 1px solid #d0d0d0;
    width: 100%;
    display: block;
  }

  tbody {
    overflow:  scroll;
    width: 100%;
    display: block;
    height: calc(100vh - 240px);
  }

  td, th {
    padding: 0px 5px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    min-width: 95px;
  }

  @media only screen and (max-width: 768px) and (orientation: landscape) {
    tbody {
      height: calc(100vh - 180px);
    }
  }

  @media only screen and (min-width: 768px) {
    thead {
      display: table-header-group;
    }

    tbody {
      display: table-row-group;
      height: 100%;
    }

    td, th {
      padding: 15px 5px;
    }
  }
</style>
