<template>
    <tr>
      <td>{{ time }}</td>
      <td><input type="number" pattern="[0-9]*" v-model.number="lCallsPerHour" :placeholder="this.sharedState.dCallsPerHour"></td>
      <td><input type="number" pattern="[0-9]*" v-model.number="lCallDuration" :placeholder="this.sharedState.dCallDuration"> min(s)</td>
      <td><input type="number" pattern="[0-9]*" v-model.number="lAgentCount" :placeholder="this.sharedState.dAgentCount"></td>
      <td v-if="this.sharedState.dDesiredServiceLevel != ''">{{ SuggestedAgentCount }}</td>
      <td>{{ AgentOccupancy * 100 | trim | limitPerc }} %</td>
      <td>{{ WaitingProbability * 100 | trim | limitPerc }} %</td>
      <td>{{ AverageAnswerSpeed | trim | limitSecs }} sec(s)</td>
      <td><input type="number" pattern="[0-9]*" v-model.number="lTargetAnswerTime" :placeholder="this.sharedState.dTargetAnswerTime"> sec(s)</td>
      <td>{{ ServiceLevel | trim | limitPerc }} %</td>
    </tr>
</template>

<script>
import store from '../store'

export default {
  name: 'vuetd',
  props: {
    time: {
      type: String,
      required: true
    }
  },
  data: function () {
    return {
      lCallsPerHour: '',
      lCallDuration: '',
      lAgentCount: '',
      lTargetAnswerTime: '',
      sharedState: store.state
    }
  },
  computed: {
    CallsPerHour: function () {
      return this.lCallsPerHour === '' ? this.sharedState.dCallsPerHour : this.lCallsPerHour
    },
    CallDuration: function () {
      return this.lCallDuration === '' ? this.sharedState.dCallDuration : this.lCallDuration
    },
    AgentCount: function () {
      return this.lAgentCount === '' ? this.sharedState.dAgentCount : this.lAgentCount
    },
    SuggestedAgentCount: function () {
      return this.calculateIfNaN() ? '' : this.calculateSuggestedAgentCount(1)
    },
    TargetAnswerTime: function () {
      return this.lTargetAnswerTime === '' ? this.sharedState.dTargetAnswerTime : this.lTargetAnswerTime
    },
    ErlangCFormulaType: function () {
      return !(this.AgentCount === '') ? 'normal' : 'reverse'
    },
    CallArrivalRate: function () {
      return this.CallsPerHour === '' ? '' : (this.CallsPerHour / 3600)
    },
    TrafficIntensity: function () {
      return ((this.CallArrivalRate === '') || (this.CallDuration === '')) ? '' : (this.CallArrivalRate * (this.CallDuration * 60))
    },
    AgentOccupancy: function () {
      return this.calculateIfNaN() ? '' : (this.TrafficIntensity / this.AgentCount)
    },
    WaitingProbability: function () {
      return this.calculateIfNaN() ? '' : (this.calculateErlangC(this.AgentCount, this.TrafficIntensity))
    },
    AverageAnswerSpeed: function () {
      return this.calculateIfNaN() ? '' : (this.WaitingProbability * (this.CallDuration * 60)) / (this.AgentCount * (1 - this.AgentOccupancy))
    },
    ServiceLevel: function () {
      return this.calculateIfNaN() ? '' : this.calculateServiceLevel(this.AgentCount)
    }
  },
  methods: {
    calculateErlangC: function (m, u) {
      return (((Math.pow(u, m)) / this.calculateFactorial(m)) / (((Math.pow(u, m)) / this.calculateFactorial(m)) + (1 - (u / m)) * (this.calculateErlangCSigma(0, (m - 1), u))))
    },
    calculateFactorial: function (val) {
      return val <= 0 ? 1 : (val * this.calculateFactorial(val - 1))
    },
    calculateErlangCSigma: function (start, end, u) {
      return start > end ? 0 : ((Math.pow(u, end)) / (this.calculateFactorial(end))) + this.calculateErlangCSigma(start, end - 1, u)
    },
    calculateServiceLevel: function (val) {
      return (1 - (this.calculateErlangC(val, this.TrafficIntensity)) * Math.exp(-(val - this.TrafficIntensity) * (this.TargetAnswerTime / (this.CallDuration * 60)))) * 100
    },
    calculateSuggestedAgentCount: function (val) {
      return this.calculateServiceLevel(val) > this.sharedState.dDesiredServiceLevel ? val : this.calculateSuggestedAgentCount(val + 1)
    },
    calculateIfNaN: function () {
      return (this.AgentCount === '' || this.AgentCount === 0 || this.TrafficIntensity === '' || this.TrafficIntensity === 0 || this.CallDuration === '' || this.CallDuration === 0)
    }
  },
  filters: {
    trim: function (val) {
      return val === '' ? '' : Math.round(val * 100) / 100
    },
    limitPerc: function (val) {
      return ((val > 100) || (val < 0)) ? Math.min(Math.max(val, 0), 100) : val
    },
    limitSecs: function (val) {
      return (val < 0) ? 'Infinity' : val
    }
  }
}
</script>

<!-- Add "scoped" attribute to limitPerc CSS to this component only -->
<style scoped>
  td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    min-width: 95px;
  }

  input {
    margin: 0;
    text-align: center;
    line-height: normal;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    width: 25%;
    height: 2rem;
    font-size: 1rem;
    padding: 0;
    box-shadow: none;
    transition: all 0.3s;
    min-width: 45px;
  }

  input:disabled {
    color: rgba(0, 0, 0, 0.26);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.26);
  }

  input:focus {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
  }

  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  ::-webkit-input-placeholder {
    color: #d1d1d1;
  }

  ::-moz-placeholder {
    color: #d1d1d1;
  }

  :-ms-input-placeholder {
    color: #d1d1d1;
  }
</style>
