<template>
  <div id="app">
    <defaults></defaults>
    <vuetable></vuetable>
    <vuefooter></vuefooter>
  </div>
</template>

<script>
import vuetable from './components/table'
import defaults from './components/defaults'
import vuefooter from './components/footer'

export default {
  name: 'app',
  components: {
    vuetable,
    defaults,
    vuefooter
  }
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    overflow: none;
  }
</style>
